<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Upload Audio to Main Site</title>
    </head>
    <body>
        <form action="{{uploadurl}}" enctype="multipart/form-data" method="post">
            <input type="text" name="title" placeholder="Title here"> <br />
            <textarea name="user-story" rows="6" cols="60" placeholder="Tell us your story"></textarea> <br />
            <label for="picture-file">Picture</label><input type="file" name="picture" id="picture-file"> <br />
            <label for="audio-file">Audio</label><input type="file" name="audio" id="audio-file"> <br />
            <label for="category">Category</label>
            <select name="category" id="category">
                <option>Misc.</option>
                {% for category in categories %}
                <option>{{ category.name }}</option>
                {% endfor %}
            </select> <br />
            <input type="submit" value="Upload Story to Site">
        </form>
    </body>
</html>